#footer {
  position: fixed;
  /* top: 420px; */
  bottom: 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23282e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
