#footer {
  position: fixed;
  /* top: 420px; */
  bottom: 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer44 img{
  width: 20px;
  height: 20px;
}
